.topbar{
  /* display: flex; */
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.tagLinesDiv{
    /* padding: 0 8rem; */
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}



.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    flex: 1;
    border-right: 2px solid black;
    
}


.certificate{
    font-weight: 500;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navBtn:hover{
    font-size: medium;
    font-weight: 500;
    /* background-color: brown; */
}